<div class="volunteer-request-list-block">
  <ul>
    <% request.item_changes.limit(5).each do |item| %>
      <li><%= item.description %></li>
    <% end %>

    <% if request.item_changes.count > 5 %>
      <li><i><%= request.item_changes.count - 5 %> more items</i></li>
    <% end %>
  </ul>

  <p>Due in <%= time_ago_in_words(request.due_time) %></p>

  <p><%= link_to 'View', request %></p>
</div>