form {
  label {
    font-weight: bold;
    font-size: 18pt;
  }

  label + table {
    margin: 1.4rem 0;
  }

  label, input {
    display: block;
  }

  input, textarea {
    box-sizing: border-box;
    max-width: 40rem;
    width: 100%;
    border: 2px solid black !important;
    border-radius: 6px;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
  }

  td > select {
    width: 100%;
  }

  input[type="text"], textarea {
    border-radius: 8px;
  }

  input[type="radio"] + label, input[type="checkbox"] + label {
    font-weight: normal;
    display: inline-block;
    margin-bottom: 0.6rem;
  }

  label {
    width: calc(100% - 2rem);
    margin: 0;
    a, p {
      font-weight: normal;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    height: 1rem;
    display: inline-block;
    width: 1rem;
    margin-right: 0.8rem;
    margin-top: -2px;
    vertical-align: middle;
    border: 2px solid black !important;
  }
  input[type="checkbox"] {
    margin-bottom: -0.1rem;
    margin-right: 0.2rem;
  }

  div.field {
    margin-bottom: 2rem;
  }

  p {
    margin: 0.8rem auto;
  }

  label + i { padding: 1rem; }
  input + em { padding: 1rem; }
}