// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.form {
  padding-left: 5rem;
}
div.inline-options {
  label.label-checkbox {
    margin: 0.5rem 0;
    margin-left: 0.5rem;

    input {
      margin-right: 0.5rem;
    }
  }
}