// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//form {
//  label {
//    font-weight: bold;
//    margin-bottom: 0.5rem;
//
//    &.label-checkbox {
//      font-weight: normal;
//
//      input {
//        margin: auto 0.5rem;
//      }
//    }
//  }
//
//  input[type="submit"] {
//    margin: 1rem auto;
//  }
//
//  div.field {
//    margin-bottom: 1rem;
//  }
//}

table {
  overflow-x: scroll;

  * {
    margin: 0;
    padding: 0;
  }

  th {
    text-align: left;
    border: 2px solid black;
  }
  td {
    width: fit-content;
    border: 1px solid grey;
    border-collapse: collapse;
  }
  td > li {
    min-width: 30rem;
    padding: 0.2rem;
    padding-left: 1rem;
  }

  th, td {
    min-width: 8rem;
    padding: 0.2rem 0.6rem 0.2rem 0.8rem;
  }
}

div.links {
  margin: 1rem auto;
}