// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form {
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;

    &.label-checkbox {
      font-weight: normal;

      input {
        margin: auto 0.5rem;
      }
    }
  }

  input[type="submit"] {
    margin: 1rem auto;
  }

  div.field {
    margin-bottom: 1rem;
  }
}

table {
  margin: 0.5rem;
  width: calc(100% - 1rem);
  border: 1px solid black;
  th, td { padding: 3px 6px; }
  th {
    text-align: left;
    border: 2px solid black;
  }
  td {
    border: 1px solid grey;
    border-collapse: collapse;
  }
}

div.links {
  margin: 1rem auto;
}