// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// @link https://moderncss.dev/pure-css-custom-styled-radio-buttons/

// GLOBAL STYLES & VARIABLES
$PRIMARY_BLUE: #E7F6FE;
$BREAKPOINT_1: 768px;
$BREAKPOINT_2: 1024px;

* {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  color: black;
}

a { color: #000; }
a:hover { color: #2c5767 !important; }

// NAVBAR STYLING
nav {
  overflow: hidden;
  top: 0;
  height: fit-content;
  width: 100%;
  background-color: $PRIMARY_BLUE;
  position: fixed;
  border-bottom: 2px solid black;

  img {
    height: 5rem;
    padding: 1rem;
    vertical-align: center;
  }

  a:hover { background: none; }

  div.nav-bar {
    a, img {
      margin: 0 1rem;

      @media (max-width: $BREAKPOINT_1) {
        height: 4rem;
        padding: 0.2rem 0.8rem;
        margin: 1rem 0;
      }
    }
  }

  div.margins-needed {
    background-color: $PRIMARY_BLUE;
    padding-bottom: 1rem;

    a {
      padding: 0;
      color: black;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div.account-bar {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1.5rem;

    div.account {
      max-width: 3000px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 1.3rem;
      margin-bottom: 0.9rem;
    }

    div {
      white-space: nowrap;
    }

    @media(max-width: $BREAKPOINT_1) {
      &, div.account { text-align: center; }
    }
  }

  div.nav-bar, div.margins-needed {
    width: fit-content;
    height: fit-content;
    background-color: $PRIMARY_BLUE;
    margin-left: auto;
    margin-right: auto;
  }
}

span.padding-for-nav-bar {
  line-height: 10rem;
}

body {
  padding-bottom: 8rem;
}

// HOME PAGE GRID STYLING
div.index {
  box-sizing: border-box;
  div {
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;

    // Remove grid separation when the grid (`md` breakpoint) resolves to one
    // column.
    $_TABLE_PADDING: 1.2rem;
    @media (min-width: $BREAKPOINT_1) {
      &:nth-child(even) { padding-left: $_TABLE_PADDING / 2; }
      &:nth-child(odd) { padding-right: $_TABLE_PADDING / 2; }
    }

    div {
      border: 2px solid black;
      border-radius: 0.8rem;
      background-color: $PRIMARY_BLUE;
      padding: 1rem;
      margin: 0.6rem 0;
    }

    a {
      margin: 1rem;
      padding: 0.5rem;
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 14pt;
      text-align: center;
    }
  }
}

div.index-footer {
  align-content: center;
}

// LAYOUTS
div.container {
  padding: 0 3rem;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin-bottom: 2rem;
  }

  table {
    width: 100%;
    border: 1px solid black;
    th, td { padding: 3px 6px; }
    th {
      text-align: left;
      border: 2px solid black;
    }
    td {
      border: 1px solid grey;
      border-collapse: collapse;
    }
  }

  div.links {
    margin: 1rem auto;
  }

  @media(max-width: $BREAKPOINT_1) {
    margin: 0;
    padding: 0.4rem;
  }
}

// COMPONENTS
button, input[type="submit"] {
  border-radius: 100rem;
  border: 2px solid black;
  background-color: $PRIMARY_BLUE;
  padding: 0.5rem 2rem;
}

table {
  margin-bottom: 2rem !important;
}

// Only tables scroll horizontally when on small screen/mobile
@media(max-width: $BREAKPOINT_1) {
  table {
    overflow: scroll;
    display: block;
    margin: 0;
  }
}