// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.container {
  margin: auto;
  width: 50rem;
  padding: 10px;

  h1 {
    margin-bottom: 2rem;
  }

  table {
    width: 100%;
    border: 1px solid black;
    th, td { padding: 3px 6px; }
    th {
      text-align: left;
      border: 2px solid black;
    }
    td {
      border: 1px solid grey;
      border-collapse: collapse;
    }
  }

  div.links {
    margin: 1rem auto;
  }
}

div.form {
  label {
    font-weight: bold;

    &.label-checkbox {
      font-weight: normal;
    }
  }

  input[type="submit"] {
    margin: 1rem auto;
  }

  div.field {
    margin-bottom: 1rem;
  }
}