<div>
  <div class = "centered-div">
  <%= link_to 'Request Clothing and Hygiene Items', new_request_url, class: "home-link"%>
  </div>
  <br>
  <div class = "centered-div">
  <%= link_to "Donate Items", root_path, class: "home-link" %>
  </div>
  <br>
  <div class = "centered-div">
  <%= link_to "Volunteer", root_path, class: "home-link" %>
  </div>
  <br>
  <div class = "centered-div">
  <%= link_to "Support Our Cause", root_path, class: "home-link" %>
  </div>
  <br>
  <div class = "centered-div">
    <p>Contact Information:</p>
  </div>
</div>