<div class = "container">
  <h1>Become a Volunteer</h1>
  <div class = "centered-div">
    <div class = "get-involved-div">
      <p>Our pop-up shops and mobile delivery system wouldn't work without a team of dedicated team of volunteers. Join us by clicking the link below!</p>
    </div>
  </div>
  <div class = "centered-div">
    <%= link_to 'Click Here for Next Steps', 'https://forms.gle/2vAghkBBsVDRd8oFA', target: :_blank, class:"home-link" %>
  </div>
  <h1>We Need You to Share Our Information</h1>
  <div class = "centered-div">
    <div class = "get-involved-div">
      <p>Our biggest obstacle in the fight to improve the lives of Georgia's children is that many people are not informed about the challenges present in Georgia's child welfare system.  We share information about our work and these challenges constantly on our social media. Following us and sharing this information with your friends helps us tremendously. You can find the links to our Facebook, Instagram, and Twitter below. </p>
    </div>
  </div>
  <div class = "centered-div">
    <%= link_to image_tag("facebook.png", class:"social-link"), 'https://www.facebook.com/608103152697463', {:style=>'padding-left: 5px;', :class => "social-link"} %>
    <%= link_to image_tag("twitter.png", class:"social-link"), 'https://www.twitter.com/carries_closets', class:"social-link" %>
    <%= link_to image_tag("instagram.png", class:"social-link"), 'https://www.instagram.com/carries_closetofga/', {:style=>'padding-right: 5px;', :class => "social-link"} %>
  </div>
</div>